name: check

on:
  push:
    branches:
      - main
  pull_request:

jobs:

  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version: '3.11'

      - name: Install Python dependencies
        run: pip install mypy ruff

      - name: ruff
        run: ruff check

      - name: ruff format
        run: ruff format --check

      - name: mypy
        run: mypy . --ignore-missing-imports

  coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version: '3.12'

      - name: Install apt packages
        run: sudo apt-get install -y libcgal-dev

      - name: Install package
        run: |
          pip install ninja gcovr pytest-cov
          python -c 'import subprocess; import tomllib; subprocess.run(["pip", "install", *tomllib.load(open("pyproject.toml", "rb"))["build-system"]["requires"]], check=True)'
          pip install --no-build-isolation -Csetup-args=-Dbuildtype=debug -Csetup-args=-Db_coverage=true -ve .[test]

      - name: Run tests
        run: pytest --benchmark-disable --cov test

      - name: Analyze C coverage
        run: gcovr --cobertura cobertura.xml

      - name: Upload to Codecov.io
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7  # v5.0.0-beta
        with:
          files: ./.coverage,./cobertura.xml
          token: ${{ secrets.CODECOV_TOKEN }}
